.container {
  display: flex;
  justify-content: center;
  padding: 2rem;
}

mat-card {
  max-width: 600px;
  width: 100%;
}

mat-card-title {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.actions-container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  padding: 8px 16px;

  button {
    margin: 0 !important; /* Override material margin */
  }
}
