@use './styles/variables' as *;
@use './styles/material-theme' as *;
@use './styles/mixins' as *;
@use '@angular/material' as mat;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;

  @include mat.tooltip-overrides(
    (
      container-color: var(--primary-color),
      supporting-text-color: var(--primary-contrast-color),
      container-shape: 16px,
      //border-radius
      supporting-text-size: 14px,
    )
  );
}

.success-snackbar {
  --mdc-snackbar-container-color: #4caf50;
  --mdc-snackbar-supporting-text-color: white;
  --mat-snack-bar-button-color: white;
}

.error-snackbar {
  --mdc-snackbar-container-color: #f44336;
  --mdc-snackbar-supporting-text-color: white;
  --mat-snack-bar-button-color: white;
}
